html,
body,
div.root {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.burger {
  padding-top: 2vh;
  padding-left: 5vw;
}

div.meditation-timer {
  width: fit-content;
  /* margin: auto; */
}

div.timerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.timerButtonsRunning {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.devDataButton {
  padding-top: 15px;
}

table.devData {
  margin: auto;
  text-align: left;
}

table.devData th,
td {
  font-size: small;
}

.info {
  text-align: center;
}

.credits {
  padding-top: 15px;
}

@media screen and (max-width: 400px) {
  .timer-display h1 {
    font-size: 32vw;
  }
  .meditation-timer .ui.button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 401px) {
  .timer-display h1 {
    font-size: 20vw;
  }
  .meditation-timer .ui.button {
    font-size: 1.7rem;
  }
}

.meditation-timer {
  align-self: center;
  padding-top: 4vh;
}

h1 img.logo {
  height: 1em;
  background-color: white;
}

.menu div.logo {
  text-align: center;
}
.menu div.logo img {
  background-color: white;
}
