.App {
  text-align: center;
}

.devDataButton {
  padding-top: 15px;
}

table.devData {
  margin: auto;
  text-align: left;
}

table.devData th,
td {
  font-size: small;
}

@media screen and (max-width: 400px) {
  .timer-display h1 {
    font-size: 32vw;
  }
  .meditation-timer .ui.button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 401px) {
  .timer-display h1 {
    font-size: 20vw;
  }
  .meditation-timer .ui.button {
    font-size: 1.7rem;
  }
}
