html,
body,
div.root,
div.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
}

.burger .MuiSvgIcon-root {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

div.timerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.timerButtonsRunning {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonGroup {
  display: inherit;
}

.buttonGroup .MuiAvatar-root {
  margin: 0 0.175rem 0 0.175rem;
  width: min(14vh, 14vw);
  height: min(14vh, 14vw);
}

.buttonGroup path {
  fill: dimgray;
}

.devDataButton {
  padding-top: 15px;
}

table.devData {
  margin: auto;
  text-align: left;
}

table.devData th,
td {
  font-size: small;
}

.meditation-timer button .MuiSvgIcon-root {
  font-size: min(10vw, 10vh);
}

@media screen and (max-width: 400px) {
  .timer-display h1 {
    font-size: 32vw;
  }
}
@media screen and (min-width: 401px) {
  .timer-display h1 {
    font-size: 20vw;
  }
}

img.logo {
  height: 2em;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.credits ul {
  list-style-type: none;
  padding-left: 0;
}

div.dev-values span {
  padding-left: 10px;
}

div.dev-values {
  text-align: center !important;
}
