html,
body,
div.root,
div.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
}

.burger .MuiSvgIcon-root {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

div.timerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonGroup {
  display: inherit;
}

.buttonGroup .MuiAvatar-root {
  margin: 0 0.1rem 0 0.175rem;
  width: clamp(60px, max(15vh, 20vw), 120px);
  height: clamp(60px, max(15vh, 20vw), 120px);
}

.devDataButton {
  padding-top: 15px;
}

table.devData {
  margin: auto;
  text-align: left;
}

table.devData th,
td {
  font-size: small;
}

.meditation-timer button .MuiSvgIcon-root {
  font-size: clamp(2.5rem, max(10vh, 12vw), 5rem);
}

img.logo {
  height: 2em;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.credits ul {
  list-style-type: none;
  padding-left: 0;
}

div.dev-values span {
  padding-left: 10px;
}

div.dev-values {
  text-align: center !important;
}
